
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '18-21')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('18-21', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '22-24')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('22-24', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '25-34')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('25-34', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '35-44')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('35-44', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '45-54')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('45-54', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '55-64')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('55-64', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '65-74')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('65-74', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAge] WHERE AgeName = '75 and above')
BEGIN
	INSERT [dbo].[mstAge] ([AgeName], [IsActive]) VALUES ('75 and above', 1)
END


IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'H1 Main Type')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('H1 Main Type', 'Module 1', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'H1 MisTyping')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('H1 MisTyping', 'Module 2', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'H1 Aptitude')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('H1 Aptitude', 'Module 4', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'H1 Competency')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('H1 Competency', 'Module 3', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'Main Type')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('Main Type', 'Module 1', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'Mistyping')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('Mistyping', 'Module 2', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'QLEAP and QMAP Main Type')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('QLEAP and QMAP Main Type', 'Module 1', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'QTam Competencies')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('QTam Competencies', 'Module 7', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentModule] WHERE ModuleName = 'QLead Competencies')
BEGIN
	INSERT [dbo].[mstAssessmentModule] ([ModuleName], [PartialModuleName], [IsActive], [CreatedAt], [CreatedBy], [LastModifiedAt], [LastModifiedBy]) 
	VALUES ('QLead Competencies', 'Module 7', 1, GETDATE(), 'Admin', GETDATE(),'Admin')
END



IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentSet] WHERE AssessmentName = 'H1 Part A')
BEGIN
	INSERT [dbo].[mstAssessmentSet] ([AssessmentName], [CreatedBy], [LastModifiedBy], [CreatedAt], [LastModifiedAt], [TotalQuestion],[IsActive]) 
	VALUES ('H1 Part A', 'Admin', 'Admin', GETDATE(), GETDATE(), 111,1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentSet] WHERE AssessmentName = 'H1 Part B')
BEGIN
	INSERT [dbo].[mstAssessmentSet] ([AssessmentName], [CreatedBy], [LastModifiedBy], [CreatedAt], [LastModifiedAt], [TotalQuestion],[IsActive]) 
	VALUES ('H1 Part B', 'Admin', 'Admin', GETDATE(), GETDATE(), 79,1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentSet] WHERE AssessmentName = 'Standard Report')
BEGIN
	INSERT [dbo].[mstAssessmentSet] ([AssessmentName], [CreatedBy], [LastModifiedBy], [CreatedAt], [LastModifiedAt], [TotalQuestion],[IsActive]) 
	VALUES ('Standard Report', 'Admin', 'Admin', GETDATE(), GETDATE(), 108,1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentSet] WHERE AssessmentName = 'QLeap')
BEGIN
	INSERT [dbo].[mstAssessmentSet] ([AssessmentName], [CreatedBy], [LastModifiedBy], [CreatedAt], [LastModifiedAt], [TotalQuestion],[IsActive]) 
	VALUES ('QLeap', 'Admin', 'Admin', GETDATE(), GETDATE(), 147,1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstAssessmentSet] WHERE AssessmentName = 'QMap')
BEGIN
	INSERT [dbo].[mstAssessmentSet] ([AssessmentName], [CreatedBy], [LastModifiedBy], [CreatedAt], [LastModifiedAt], [TotalQuestion],[IsActive]) 
	VALUES ('QMap', 'Admin', 'Admin', GETDATE(), GETDATE(), 138,1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstCompany] WHERE CompanyName = 'Questa Enneagram')
BEGIN
	INSERT INTO [dbo].[mstCompany](CompanyName,CreatedBy,CreatedAt,LastModifiedBy,LastModifiedAt,IsActive)
	Values('Questa Enneagram','Admin',GETDATE(),'Admin',GETDATE(),1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstCountry] WHERE CountryName = 'India')
BEGIN
	INSERT [dbo].[mstCountry] ([CountryName], [IsActive]) 
	VALUES ('India', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstCountry] WHERE CountryName = 'Others')
BEGIN
	INSERT [dbo].[mstCountry] ([CountryName], [IsActive]) 
	VALUES ('Others', 1)
END


IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Unemployed')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Unemployed', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Part-time employment')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Part-time employment', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Salaried/Full-time employment')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Salaried/Full-time employment', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Self-employed')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Self-employed', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Home-maker')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Home-maker', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Student')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Student', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Retired')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Retired', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstEmployeeStatus] WHERE EmploymentName = 'Others')
BEGIN
	INSERT [dbo].[mstEmployeeStatus] ([EmploymentName], [IsActive]) 
	VALUES ('Others', 1)
END


IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '0–4 yrs')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('0–4 yrs', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '5-10yrs')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('5-10yrs', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '10-15yrs')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('10-15yrs', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '15-20yrs')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('15-20yrs', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '20-25yrs')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('20-25yrs', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstExperence] WHERE ExperenceName = '25yrs and above')
BEGIN
	INSERT [dbo].[mstExperence] ([ExperenceName], [IsActive]) 
	VALUES ('25yrs and above', 1)
END


IF NOT EXISTS (SELECT * FROM [dbo].[mstGender] WHERE GenderName = 'Male')
BEGIN
	INSERT [dbo].[mstGender] ([GenderName], [IsActive]) 
	VALUES ('Male', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstGender] WHERE GenderName = 'Female')
BEGIN
	INSERT [dbo].[mstGender] ([GenderName], [IsActive]) 
	VALUES ('Female', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstGender] WHERE GenderName = 'Other')
BEGIN
	INSERT [dbo].[mstGender] ([GenderName], [IsActive]) 
	VALUES ('Other', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstGender] WHERE GenderName = 'Prefer not to disclose')
BEGIN
	INSERT [dbo].[mstGender] ([GenderName], [IsActive]) 
	VALUES ('Prefer not to disclose', 1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstHumanResource] WHERE HrName = 'Divya Kaul' and HrEmail = 'support@questa.in')
BEGIN
	INSERT [dbo].[mstHumanResource] (HrName,HrMobileNo,HrEmail,CompanyId,CreatedBy,CreatedAt,LastModifiedBy,LastModifiedAt,IsActive) 
	VALUES ('Divya Kaul', '9811100811','support@questa.in',1,'Admin',GETDATE(),'Admin',GETDATE(),1)
END



INSERT INTO [dbo].[mstIndustry]([IndustryName],[IsActive]) VALUES('Financial Services/Broking/Banking/Insurance',1)
INSERT INTO [dbo].[mstIndustry]([IndustryName],[IsActive]) VALUES('Biotech/Lifesciences/Pharma/Clinical Research',1)
INSERT INTO [dbo].[mstIndustry]([IndustryName],[IsActive]) VALUES('Healthcare/Medical/Veterinary',1)



IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Unmarried/Single')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Unmarried/Single', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Married')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Married', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Domestic Partnership')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Domestic Partnership', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Separated')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Separated', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Divorced')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Divorced', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Widowed')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Widowed', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstMaritalStatus] WHERE MaritalName = 'Prefer not to disclose')
BEGIN
	INSERT [dbo].[mstMaritalStatus] ([MaritalName], [IsActive]) 
	VALUES ('Prefer not to disclose', 1)
END


IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Chartered Accountant')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Chartered Accountant', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Lawyer')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Lawyer', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Consultant')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Consultant', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Civil service')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Civil service', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Secretary')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Secretary', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Scientist')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Scientist', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Military Officer')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Military Officer', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Chef')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Chef', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Engineer')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Engineer', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Civil engineer')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Civil engineer', 1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstProfessional] WHERE ProfessionalName = 'Technical writer')
BEGIN
	INSERT [dbo].[mstProfessional] ([ProfessionalName], [IsActive]) 
	VALUES ('Technical writer', 1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Less than high school degree')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Less than high school degree',1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'High school degree or equivalent')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('High school degree or equivalent',1)
END

IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Diploma')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Diploma',1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Graduate degree')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Graduate degree',1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Post-Graduate')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Post-Graduate',1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Professional degree')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Professional degree',1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Doctorate')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Doctorate',1)
END
IF NOT EXISTS (SELECT * FROM [dbo].[mstQualification] WHERE QualificationName = 'Other')
BEGIN
	INSERT INTO [dbo].[mstQualification]([QualificationName],[IsActive]) 
	Values('Other',1)
END



INSERT INTO [dbo].[mstState]([CountryId],[StateName],[IsActive])Values(1,'Andhra Pradesh',1)
INSERT INTO [dbo].[mstState]([CountryId],[StateName],[IsActive])Values(1,'Arunachal Pradesh',1)
INSERT INTO [dbo].[mstState]([CountryId],[StateName],[IsActive])Values(1,'Assam',1)




INSERT INTO [dbo].[mstQuestionType](TypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
Values('Ethical Perfectionist – Enneagram Type 1',1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestionType](TypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
Values('Empathic Nurturer – Enneagram Type 2',1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestionType](TypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
Values('Ambitious Achiever – Enneagram Type 3',1,GetDate(),'Admin',GetDate(),'Admin')

INSERT INTO [dbo].[mstQuestionReponseType](ResponseTypeName,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
VALUES('radiobutton',GETDATE(),'Admin',GETDATE(),'Admin')



SET IDENTITY_INSERT [dbo].[mstQuestion] ON
INSERT INTO [dbo].[mstQuestion](QuestionId,Question,TypeId,ModuleId,ResponseTypeId,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)Values(526,'People should follow the rules instead of doing what they feel like doing.',1,1,1,1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestion](QuestionId,Question,TypeId,ModuleId,ResponseTypeId,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)Values(527,'I put a lot of pressure on myself to do things right and with accuracy.',1,1,1,1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestion](QuestionId,Question,TypeId,ModuleId,ResponseTypeId,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)Values(528,'I have a certain standard, and I work very hard to achieve it. Being perfect and doing things with perfection is very important to me.',1,1,1,1,GetDate(),'Admin',GetDate(),'Admin')

SET IDENTITY_INSERT [dbo].[mstQuestion] OFF


INSERT INTO [dbo].[mstQuestionResponse]([QuestionId],[ResponseNumber],[ResponseText],[weight],[IsActive],[CreatedAt],[CreatedBy],[LastModifiedAt],[LastModifiedBy])
Values(526,1,'Always True',10,1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestionResponse]([QuestionId],[ResponseNumber],[ResponseText],[weight],[IsActive],[CreatedAt],[CreatedBy],[LastModifiedAt],[LastModifiedBy])
Values(526,2,'Usually True',8,1,GetDate(),'Admin',GetDate(),'Admin')
INSERT INTO [dbo].[mstQuestionResponse]([QuestionId],[ResponseNumber],[ResponseText],[weight],[IsActive],[CreatedAt],[CreatedBy],[LastModifiedAt],[LastModifiedBy])
Values(526,3,'Sometimes True',5,1,GetDate(),'Admin',GetDate(),'Admin')






INSERT INTO [dbo].[mstQuestionSubType](SubTypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
VALUES('MType1',1,GETDATE(),'Admin',GETDATE(),'Admin')
INSERT INTO [dbo].[mstQuestionSubType](SubTypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
VALUES('MType2',1,GETDATE(),'Admin',GETDATE(),'Admin')
INSERT INTO [dbo].[mstQuestionSubType](SubTypeName,IsActive,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
VALUES('MType3',1,GETDATE(),'Admin',GETDATE(),'Admin')


INSERT INTO  [dbo].[mstQuestionReponseType] (ResponseTypeName,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy)
VALUES('TableBase',GETDATE(),'Admin',GETDATE(),'Admin')






SET IDENTITY_INSERT [dbo].[mstQuestion] ON


SET IDENTITY_INSERT [dbo].[mstQuestion] OFF

















SET IDENTITY_INSERT [dbo].[mstQuestion] ON




SET IDENTITY_INSERT [dbo].[mstQuestion] OFF









INSERT INTO [dbo].[TxnAttachSetToModule](AssessmentId,ModuleId,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy,IsActive,ModuleOrderId)
Values(1,1,GETDATE(),'Admin',GETDATE(),'Admin',1,1)
INSERT INTO [dbo].[TxnAttachSetToModule](AssessmentId,ModuleId,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy,IsActive,ModuleOrderId)
Values(1,2,GETDATE(),'Admin',GETDATE(),'Admin',1,2)
INSERT INTO [dbo].[TxnAttachSetToModule](AssessmentId,ModuleId,CreatedAt,CreatedBy,LastModifiedAt,LastModifiedBy,IsActive,ModuleOrderId)
Values(1,3,GETDATE(),'Admin',GETDATE(),'Admin',1,3)

INSERT INTO [dbo].[TxnHrMapToCompany](CompanyId,HrId,CreatedBy,CreatedAt,LastModifiedBy,LastModifiedAt,IsActive,FinalMailId,InitialMailId,IsReportSentToCandidate,IsReportSentToHr,AssessmentId,CountOfLink,IsBulkLinkGenerationReq)
Values(1,1,'Admin',GETDATE(),'Admin',GETDATE(),1,1,1,1,0,1,0,0)